/bin/
/include/
/lib/
pip-selfcheck.json
/share/
/cache/
/__pycache__
WalkNewsBot--access-token.txt
cache/
/__pycache__/
src/telegram-bot-project.sublime-project
src/telegram-bot-project.sublime-workspace
src/__pycache__/
NEWS_API_KEY.txt
